
# Python cache
__pycache__/
*.pyc


# Virtual environment (Poetry in-project)
.venv/

# Build artifacts
dist/
build/
*.egg-info/


# Ignore these directories
data/
Duaa/
testData/
testWavs/
wavs/

# Ignore these files
*.csv
*.xlsx
*.wav


# Jupyter checkpoints
*.ipynb_checkpoints
